@media screen and (min-width: 1024px) {
    body {
        padding: 2rem;
    }

    main,
    header {
        max-width: 768px;
    }

    .topo h1 {
        font-size: 2rem;
    }

    .form-novo-item {
        flex-direction: row;
        gap: 1rem;
    }

    .form-novo-item input {
        flex: 1;
    }

    .form-novo-item button {
        width: auto;
        padding: 0.875rem 2rem;
    }

    .toast-removido {
        max-width: 768px;
    }
}