*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Colors */
    --background-primary: #F4F5FB;
    --background-secondary: #FFFFFF;

    --color-brand: #4CAF50;
    --color-brand-hover: #388E3C;
    --color-danger: #C93847;

    --content-primary: #080B12;
    --content-secondary: #374151;
    --content-tertiary: #9CA3AF;
    --always-white: #FFFFFF;

    --border-primary: #D1D5DB;
    --border-hover: #B9C2D0;

    /* Fonts */
    --ff-base: 'Inter', sans-serif;

    --title: 1.5rem;
    --label: 1rem;
    --paragraph: 1rem;
    --link: 0.875rem;
}

a {
    text-decoration: none;
    color: var(--color-brand);
    font-family: var(--ff-base);
    font-size: var(--link);
    line-height: 1rem;
    font-weight: medium;
}

a:hover {
    color: var(--color-brand-hover);
}

body {
    background-color: var(--background-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;

    border: 1px solid red;
    width: 100%;
    max-width: 23.4375rem;
    padding: 1.5625rem 0;
}

main {
    width: 100%;
    max-width: 23.4375rem;
    border: 1px solid green;
    padding: 1.5rem;
    /* box-sizing: border-box; */
}

main .topo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

main .topo a img {
    width: 0.75rem;
}

main .topo a {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

main .topo h1 {
    font-family: var(--ff-base);
    font-size: var(--title);
    line-height: 2rem;
    font-weight: bold;
    color: var(--content-primary);
}